$lightblue : #40a9ff!default;//浅蓝
$blue : #1890ff!default;//蓝
$deepBlue : #096dd9!default;//深蓝
$red : #f03d36!default;//红
$lightRed : #ec7c78!default;//红
$deepRed : #cf1322!default;//红
$purple : #722ed1!default;//紫
$cyan : #13c2c2!default;//青
$green : #52c41a!default;//绿
$lightGreen : #85ce60!default;//绿
$magenta : #eb2f96!default;//品红
$pink : #eb2f96!default;//粉
$orange : #fa8c16!default;//橘
$yellow : #dabf15!default;//黄
$lightYellow : #ecd53b!default;//黄
$volcano : #fa541c!default;//火山色
$geekBlue : #2f54eb!default;//极客蓝
$lime : #a0d911!default;//青柠
$gold : #faad14!default;//金
$white : #FFFFFF!default;
$black : rgba(0, 0, 0, 0.65)!default;
$gray : rgba(0, 0, 0, 0.2)!default;

$gray-100 : rgba(0, 0, 0, 0.05)!default;
$gray-200 : rgba(0, 0, 0, 0.1)!default;
$gray-300 : rgba(0, 0, 0, 0.15)!default;
$gray-400 : rgba(0, 0, 0, 0.2)!default;
$gray-500 : rgba(0, 0, 0, 0.25)!default;
$gray-600 : rgba(0, 0, 0, 0.3)!default;
$gray-700 : rgba(0, 0, 0, 0.35)!default;
$gray-800 : rgba(0, 0, 0, 0.4)!default;
$gray-900 : rgba(0, 0, 0, 0.45)!default;
$gray-1000 : rgba(0, 0, 0, 0.5)!default;
$gray-1100 : rgba(0, 0, 0, 0.55)!default;
$gray-1200 : rgba(0, 0, 0, 0.6)!default;
$gray-1300 : rgba(0, 0, 0, 0.65)!default;
$gray-1400 : rgba(0, 0, 0, 0.7)!default;
$gray-1500 : rgba(0, 0, 0, 0.75)!default;

$lightgray : #f5f5f5!default;

// 主题色
$primary: $blue !default;
$default:$gray-500!default;
$danger:$red!default;
$warn:$yellow!default;
$success:$green!default;